<!DOCTYPE html>
<html>
    <head>
        <title>ejabberd Archive Viewer - Search</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"/>

        <style type="text/css">
            .no-wrap {
                white-space: nowrap;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <h1 class="page-header">ejabberd Archive Viewer - Search</h1>

            <form class="mb-3">
                <select name="peer" class="custom-select mb-3">
                    {% for peer in peers %}
                        <option value="{{ peer }}" {% if currentPeer == peer %}selected{% endif %}>{{ peer }}</option>
                    {% endfor %}
                </select>

                <input type="text" class="form-control mb-3" name="query" value="{{ query }}" placeholder="Search..."/>

                <button type="submit" class="btn btn-primary">Go</button>

                <a href="." class="btn btn-secondary">Back to overview</a>
            </form>

            {% if currentPeer %}
                {% if entries %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>User</th>
                                <th>Message</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for entry in entries %}
                                <tr>
                                    <td class="no-wrap">{{ entry.date.format("r") }}</td>
                                    <td class="no-wrap">{{ entry.from }}</td>
                                    <td>{{ entry.txt|raw }}</td>
                                    <td><a href="./?peer={{ currentPeer }}&start={{ entry.date.format("Y-m-d") }}T00:00:00&end={{ entry.date.format("Y-m-d") }}T23:59:59#message_{{ entry.id }}">Show conversation</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-warning">No entries found.</div>
                {% endif %}
            {% else %}
                <div class="alert alert-warning">Please select a peer.</div>
            {% endif %}
        </div>
    </body>
</html>